body {
  margin: 0;
  margin-top: 10px;
  font-family: arial, sans-serif;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

article img, aside img {
  max-width: 100%;
}

main {
  flex: 1 0 auto;
}

#gameCollection {
  max-width: 95%;
  margin-left: auto;
  margin-right:auto;
  min-height: 500px;
}

.views {
  margin-right: 10px;
}

.searchContainer {
  margin:20px;
}

.modal {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.carousel {
  height: 200px;
}

.carousel-item {
  padding-left: 5px;
  padding-right: 5px;
}

.indicators .indicator-item {
  background-color: #666666;
  border: 3px solid #ffffff;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
.indicators .indicator-item.active {
  background-color: #ffffff;
}
.indicators {
  bottom: 60px;
  z-index: 100;
}
#Octocat{
  width:80px;
}
#banner{
  position: fixed;
  top: 0;
  right: 0;
  border: 0;
}

.gameImage {
  max-height: 200px;
  max-width:200px;
}
.searchCard {
  font-size: 10px;
}
.nav-wrapper {
  padding-left:20px;
}
.collectionTitle{
  padding-left:10px;
  padding-top:10px;
}
.dropdown-button {
  min-width: 150px;
}
.listImage {
  max-height: 200px;
}
.card-image {
  padding-top:10px;
  padding-bottom:20px;
}